@import "tailwindcss";

body {
  font-family: "Halyard";
  font-weight: 400;
  background-color: var(--color-noir);
  color: var(--color-blanc);
}

h1 {
  line-height: 1;
  font-size: calc(38px + 26 * (100vw - 320px) / 1080);
  font-weight: 700;
}
h2 {
  line-height: 1;
  font-size: calc(20px + 20 * (100vw - 320px) / 1080);
  font-weight: 600;
}
p {
  line-height: 1.6;
  font-size: calc(13px + 4 * (100vw - 320px) / 1080);
  font-weight: 400;
}

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border-radius: 0.5rem;
  margin-block: 1rem;
  &.size-s {
    padding-inline: 0.8rem;
    padding-block: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-inline-end: 1rem;
  }
  &.size-m {
    padding-inline: 1.2rem;
    padding-block: 0.6rem 0.9rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-inline-end: 1.5rem;
  }
  &.size-l {
    padding-inline: 1.5rem;
    padding-block: 1rem 1.2rem;
    font-size: 2rem;
    line-height: 1.5rem;
    margin-inline-end: 2rem;
  }
  &.size-xl {
    padding-inline: 2rem;
    padding-block: 1.2rem 1.6rem;
    font-size: 2.5rem;
    line-height: 2rem;
    margin-inline-end: 2.5rem;
  }
}
