---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
const { blok, name, parent, slug } = Astro.props
---

<main>
  {
    blok.body?.map((bloc) => {
      return (
        <StoryblokComponent
          blok={bloc}
          name={name}
          parent={parent}
          slug={slug}
        />
      )
    })
  }
</main>
