---
import { renderRichText } from "@storyblok/astro"

const { content } = Astro.props

let renderedRichText = renderRichText(content)
---

<div class="prose-lg xl:prose-xl rich-text max-w-prose">
  <Fragment set:html={renderedRichText} />
</div>
