---
import Head from "./Head.astro"
import Colors from "../styles/colors.astro"
import Nav from "../storyblok/Nav.astro"
import Footer from "../storyblok/Footer.astro"
import "../../node_modules/aos/dist/aos.css"
import "../styles/global.css"
import "../styles/fonts.css"
import "swiper/css"

const { seo } = Astro.props
---

<html lang="fr" prefix="og: http://ogp.me/ns#">
  <Head seo={seo} />
  <Colors />
  <body>
    <div id="app">
      <div class="app-content" data-scroll-root>
        <div id="scroll" data-scroll-target></div>
        <Nav />
        <slot />
        <Footer />
      </div>
    </div>
  </body><script>
    import AOS from "aos"
    import "../utils/rotationSizing"
    import "../utils/fixAnchor"
    AOS.init()
  </script>
</html>
