---
import Head from "./Head.astro"
import Colors from "../styles/colors.astro"
import "../../node_modules/aos/dist/aos.css"
import "../styles/global.css"
import "../styles/fonts.css"
import "swiper/css"

const { seo } = Astro.props
---

<html lang="fr" prefix="og: http://ogp.me/ns#">
  <Head seo={seo} />
  <Colors />
  <body>
    <slot />
  </body><script>
    import AOS from "aos"
    import "../utils/rotationSizing"
    AOS.init()
  </script>
</html>
